
iprescribe-client/.classpath

iprescribe-client/.project

*.prefs

iprescribe-client/.settings/org.eclipse.wst.common.component

iprescribe-client/.settings/org.eclipse.wst.common.project.facet.core.xml

iprescribe-common/.classpath

iprescribe-common/.project

*.component

iprescribe-common/.settings/org.eclipse.wst.common.project.facet.core.xml

iprescribe-ear/.project

iprescribe-ear/.settings/org.eclipse.wst.common.project.facet.core.xml

iprescribe-ejb/.classpath

iprescribe-ejb/.project

iprescribe-ejb/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml

iprescribe-ejb/.settings/org.eclipse.wst.common.project.facet.core.xml

iprescribe-entity/.classpath

iprescribe-entity/.project

iprescribe-entity/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml

iprescribe-entity/.settings/org.eclipse.wst.common.project.facet.core.xml

iprescribe-samplews/.classpath

iprescribe-samplews/.project

iprescribe-samplews/.svn/wc.db

iprescribe-service-test/.classpath

iprescribe-service-test/.project

iprescribe-web/.classpath

iprescribe-web/.project

iprescribe-web/.settings/.jsdtscope

iprescribe-web/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml

iprescribe-web/.settings/org.eclipse.wst.common.project.facet.core.xml

iprescribe-web/.settings/org.eclipse.wst.jsdt.ui.superType.container

iprescribe-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
